@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$primary-color: #0D0D0D;
$secondary-color: #FFD700;
$tertiary-color: #ad5d4e;
$primary-text-color: white;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/background2.png');
  background-position: center;
  background-size: cover;
}

.title {
  margin-bottom: 200px;
  font-size: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  padding: 40px;
  background-color: lightgray;
  opacity: 100%;
}

.inputClass {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
}

.login-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: $primary-color;
  color: $primary-text-color
}

.signup-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: $secondary-color;
}

.headerBox {
  display: grid;
  width: 80%;
  height: 15%;
}

.game-box {
  width: 80%;
}

.enemy-image, .player-image {
  height:300px;
}

.enemy-area, .player-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}