$primary-color: #b2d3a8;
$secondary-color: #ECD3A8;
$tertiary-color: #ad5d4e;
$primary-text-color: #210203;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
}