@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$primary-color: #0d0d0d;
$secondary-color: #ffd700;
$tertiary-color: #ad5d4e;
$primary-text-color: white;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/background2.png');
  background-position: center;
  background-size: cover;
}

.title {
  margin-bottom: 200px;
  font-size: 110px;
}

.login-form,
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  padding: 40px;
  background-color: rgba(208, 208, 208, 0.8);
}

.inputClass {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: $primary-color;
  color: $primary-text-color;
}

.signup-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: $secondary-color;
}

.headerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 15%;
  background-color: rgba(208, 208, 208, 0.8);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black;
}

.gameTitle {
  font-size: 70px;
}

.headerSub {
  display: flex;
  margin-top: 20px;
}

.header-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: $primary-color;
  color: $primary-text-color;
  margin-right: 8px;
}

.game-box {
  width: 80%;
  height: 80%;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 35px;
}

.death-box {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: $primary-color;
  color: red;
  font-size: 100px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateX(-1.5%) translateY(-3%);
}

.player-image {
  height: 600px;
}

.anime {
  animation: attack 1.2s;
}

@keyframes attack {
  0% {
    transform: translateX(0%) scale(1);
  }
  50% {
    transform: translateX(20%) scale(1.2);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

.enemy-image {
  height: 490px;
}

.enemy-anime {
  animation: enemyAttack 1.2s;
}

@keyframes enemyAttack {
  0% {
    transform: translateX(0%) scale(1);
  }
  50% {
    transform: translateX(-20%) scale(1.2);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

.hurt {
  animation: getHit 2 0.2s linear;
}

@keyframes getHit {
  0% {
    background-color: none;
    transform: scale(1);
  }
  25% {
    background-color: rgba(255, 0, 0, 0.6);
    transform: scale(0.9);
  }
  50% {
    background-color: none;
    transform: scale(1);
  }
  75% {
    background-color: rgba(255, 0, 0, 0.6);
    transform: scale(0.9);
  }
  100% {
    background-color: none;
    transform: scale(1);
  }
}

.enemy-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  margin: 20px;
}

.player-area {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin: 20px;
}

.enemy-area {
  display: flex;
  justify-content: end;
  width: 95%;
  height: 45%;
}

.player-area {
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 40%;
  height: 90%;
}

.dialog-box {
  z-index: 0;
  width: 56%;
  height: 90%;
  border: 5px solid #ffffff;
  border-radius: 10px;
  padding: 30px;
  background-color: $primary-color;
  color: $primary-text-color;
  line-height: 1.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.bottom-screen {
  display: flex;
  height: 50%;
  align-items: center;
}

.action-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: $primary-color;
  color: $primary-text-color;
  margin-top: 5px;
}

.player-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.player-health {
  margin-bottom: 20px;
}
.enemy-health {
  margin-right: 15px;
}

.modal-form {
  height: fit-content;
  position: fixed;
  margin-top: 3em;
}

.modal-form h4 {
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.modal-btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  background-color: $primary-color;
  color: $primary-text-color;
}
